.menu {
      height: 100%; 
      width: 20%; 
      position: fixed; 
      z-index: 1; 
      top: 0; 
      left: 0;
      background-color: #333D3B; 
      overflow-x: hidden; 
    }
    
    
    .menu a {
      padding: 20px 0px 20px 8px;
      text-decoration: none;
      font-size: 25px;
      color: #ffffff;
      border-top: 5px #404B49 solid;
      display: block;
      transition: 0.3s;
    }
    #uccso{
        border-bottom: 5px solid #404B49;
    }
    
    
    .menu a:hover {
      color: rgb(51, 61, 59);
      background-color: #E2D8C8;
    }
    
    
    .kontener {
      margin-left: 24%;
      
      height: 1000px
    }
    img{
        width: 100%;
        top: 0;
        overflow: hidden;
        transition: 0.3s ease-out;
    }
    body{
      font-family: "Kalam";
        scroll-behavior: smooth;
        background-image: url(../kepek/hatterKep2.jpg);
        background-size: cover;
        background-attachment: fixed;
    }
    #elso{
        border-top: 0px;
    }
    .content{
        background-color: rgba(240, 233, 233,0.8);
        margin-left: -5%;
        height: fit-content;
        min-height: 1000px;
    }
    #logokep{
      padding: 0px;
    }
    #logokep:hover{
      background-color: #333D3B;
    }
    footer{
      letter-spacing: 1px;
      margin-top: 40%;
      text-align: center;
      color: #94b1ab;
    }
    #slidekep{
      width: 100%;
    }
    #slidekep:hover{
      transform: none;
      box-shadow: none;
    }
    img:hover{
      box-shadow: 0px 0px 10px black;
      transform:  scale(1.05)
    }
    .szoveg{
      background-color: rgba(51, 61, 59,0.8);
    }
    .centerrr{
      text-align: center;
      margin: 0 auto;
    }
    #kosarkep{
      width: 40px;
    }
    